*.idea/
resources*
__pycache__
*.pyc
/models
*~
*.json
*.result
/results
*.sublime*
/datasets/data/*
!/datasets/data/README.md
/datasets/processed
/datasets/cococaption
.DS_Store
submit.sh
.idea
datasets/pycocoevalcap
*.pkl
/logs
/*.prof
/datasets/datasets.conf
.*
/random_image_dir/
/tests/submit_tests.sh
