*.idea/
resources*
__pycache__
*.pyc
/models
*~
*.json
*.result
/results
*.sublime*
/datasets/data/*
!/datasets/data/README.md
/datasets/processed
/datasets/cococaption
.DS_Store
submit.sh
.idea
datasets/pycocoevalcap
datasets/datasets.conf
*.pkl
/logs
/*.prof
